@model PostXML_AvisBudgetGroup.Service.WebReferenceDirectConnect.OTA_PingRS

@{
    ViewBag.Title = "Page";
}

<h2>Resultado de Consulta</h2>
<p><strong>EchoToken</strong>:&nbsp;<span>@Model.EchoToken</span></p>
<p><strong>Target</strong>:&nbsp;<span>@Model.Target</span></p>

