<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PostXML_AvisBudgetGroup.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PostXML_AvisBudgetGroup.Service.Properties.Settings>
            <setting name="PostXML_AvisBudgetGroup_Service_WebReferenceDirectConnect_AvisBudget"
                serializeAs="String">
                <value>https://qaservices.carrental.com/wsbang/HTTPSOAPRouter/ws9071</value>
            </setting>
        </PostXML_AvisBudgetGroup.Service.Properties.Settings>
    </applicationSettings>
</configuration>